body{margin:0;font-family:Arial;background:#f4f4f4;}
.top{background:#0a2540;color:white;padding:15px;text-align:center;}
.top a{color:white;margin:10px;text-decoration:none;}
.hero{background:#0047ab;color:white;padding:80px;text-align:center;}
.btn{background:orange;padding:12px 25px;color:black;text-decoration:none;}
section{background:white;margin:20px;padding:30px;border-radius:10px;}
input,textarea{width:90%;padding:10px;margin:10px;}
button{background:green;color:white;padding:10px;border:none;}
footer{background:#0a2540;color:white;text-align:center;padding:15px;}
